<div class="main">
  <mat-card class="main-card">
    <mat-card-header>
      <div class="display">{{ displayedValue }}</div>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <button mat-stroked-button class="modulate-button" (click)="clearAll()">AC</button>
        <button mat-stroked-button class="modulate-button" (click)="opposite()">+/-</button>
        <button mat-stroked-button class="modulate-button" (click)="hundredth()">%</button>
        <button
          mat-stroked-button
          class="operator-button"
          (click)="useOperator('division')"
          [ngStyle]="{
            'background-color': divisionQueued ? 'white' : 'orange',
            'color': divisionQueued ? 'orange' : 'white'
          }"
        >/</button>
      </div>
      <div class="row">
        <button mat-stroked-button class="number-button" (click)="calcValue(7)">7</button>
        <button mat-stroked-button class="number-button" (click)="calcValue(8)">8</button>
        <button mat-stroked-button class="number-button" (click)="calcValue(9)">9</button>
        <button mat-stroked-button
          class="operator-button"
          (click)="useOperator('multiplication')"
          [ngStyle]="{
            'background-color': multiplicationQueued ? 'white' : 'orange',
            'color': multiplicationQueued ? 'orange' : 'white'
          }"
        >*</button>
      </div>
      <div class="row">
        <button mat-stroked-button class="number-button" (click)="calcValue(4)">4</button>
        <button mat-stroked-button class="number-button" (click)="calcValue(5)">5</button>
        <button mat-stroked-button class="number-button" (click)="calcValue(6)">6</button>
        <button
          mat-stroked-button
          class="operator-button"
          (click)="useOperator('subtraction')"
          [ngStyle]="{
            'background-color': subtractionQueued ? 'white' : 'orange',
            'color': subtractionQueued ? 'orange' : 'white'
          }"
        >-</button>
      </div>
      <div class="row">
        <button mat-stroked-button class="number-button" (click)="calcValue(1)">1</button>
        <button mat-stroked-button class="number-button" (click)="calcValue(2)">2</button>
        <button mat-stroked-button class="number-button" (click)="calcValue(3)">3</button>
        <button
          mat-stroked-button
          class="operator-button"
          (click)="useOperator('addition')"
          [ngStyle]="{
            'background-color': additionQueued ? 'white' : 'orange',
            'color': additionQueued ? 'orange' : 'white'
          }"
        >+</button>
      </div>
      <div class="row">
        <button mat-stroked-button class="zero-button" (click)="calcValue(0)">0</button>
        <button mat-stroked-button class="number-button">.</button>
        <button mat-stroked-button class="operator-button" (click)="equals()">=</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

